.side{
  float: right;
  margin-right: 240px;
  border: 2px solid blue;
  padding: 4px;
  margin: 20px;
  background-color: lightgray;
}
.side li a{
  font-style: italic;
}
.center{
  text-align: center;
}
body{
  font-family: sans-serif;
  background-color: black;
}
.bold{
  font-weight: bold;
}
.panel-body{
  color: yellow;
}
h1{
  color: white;
}
h3{
  color: green;
}
